# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Code
.vs
.vscode

#docker ignore
#./docker/cleandocker.bat
./docker/jenkins-cli.jar
gittoken.txt

**/build
external/googletest
/help
/diagrams
client/gui/data
client/gui/myStyle
client/gui/main.cpp

